.slider
    &__blocks
        padding-bottom: 50px
    &__main
        position: relative
        display: flex
    &__img
        width: 100%
        min-height: 340px
        height: 100%
        object-fit: cover
    &__text
        position: absolute
        bottom: 0
        font-size: 24px
        line-height: 100%
        color: $black
        +Gilroy-Bold
        text-transform: uppercase
        padding: 15px 10px
        &--right
            right: 0
        &-blue
            color: $blue
        &-white
            color: $white
        &--discount
            font-size: 30px
            color: $white
            line-height: 100%
            letter-spacing: 2px
            +Gilroy-Regular
            &-big
                font-size: 98px
                line-height: 100%
                +Gilroy-SemiBold
    &__footer
        padding: 0 10px
        min-height: 60px
        background-color: $blue
        color: $white
        display: flex
        flex-direction: column
        justify-content: center
    &__title
        font-size: 14px
        line-height: 100%
        +Gilroy-SemiBold
        text-transform: uppercase
        letter-spacing: 2px
    &__subtitle
        font-size: 14px
        line-height: 100%
        text-transform: uppercase
        letter-spacing: 1px
        margin-top: 2px

@media (min-width: $tablet-width)
    .slider
        &__text
            padding: 15px 20px
            &--discount
                font-size: 24px
                &-big
                    font-size: 132px
        &__footer
            padding: 0 20px
        &__title
            letter-spacing: 2.3px

@media (min-width: $desktop-width)
    .slider
        padding-top: 40px
        &__text
            padding: 20px 60px
            font-size: 40px
            &--discount
                font-size: 60px
                &-big
                    font-size: 190px
        &__footer
            padding: 0 60px
        &__title
            font-size: 20px